@using KeyVaultManagement.Models
@model SecretEditViewModel
@{
    ViewBag.Title = Model.IsEdit ? "Edit" : "Add";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="editForm">
            @using (Html.BeginForm("Edit", "Secret", new {}, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>@(Model.IsEdit ? "Edit" : "Add") a secret.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Value, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Value, new { @class = "form-control" }).Readonly(!Model.SetValue)
                        @Html.CheckBoxFor(m => m.SetValue, new { @style = "display:none" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Enabled, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.Enabled)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ActivationDateEnabled, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.ActivationDateEnabled, new { @id = "ActivationDateEnabled" })
                    </div>
                </div>
                <div class="form-group" id="ActivationDate-group">
                    @Html.LabelFor(m => m.ActivationDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ActivationDate, Model.ActivationDate.ToLocalTime().ToString("s"), new { @class = "form-control", @type = "datetime-local", @step = "1" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ExpirationDateEnabled, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.ExpirationDateEnabled, new { @id = "ExpirationDateEnabled" })
                    </div>
                </div>
                <div class="form-group" id="ExpirationDate-group">
                    @Html.LabelFor(m => m.ExpirationDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ExpirationDate, Model.ExpirationDate.ToLocalTime().ToString("s"), new { @class = "form-control", @type = "datetime-local", @step = "1" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        refreshActivationDateGroup();
        refreshExpirationDateGroup();

        $('#ActivationDateEnabled').click(function () {
            refreshActivationDateGroup();
        });

        $('#ExpirationDateEnabled').click(function () {
            refreshExpirationDateGroup();
        });

        function refreshActivationDateGroup() {
            if ($('#ActivationDateEnabled').is(':checked')) {
                $('#ActivationDate-group').show();
            }
            else {
                $('#ActivationDate-group').hide();
            }
        }

        function refreshExpirationDateGroup() {
            if ($('#ExpirationDateEnabled').is(':checked')) {
                $('#ExpirationDate-group').show();
            }
            else {
                $('#ExpirationDate-group').hide();
            }
        }
    </script>
}